@import "./prism-ghcolors.css"
@import "~@geist-ui/themes/index.css"
@import "~@geist-ui/themes/dark.css"

.zf-layout
  max-width 920px

.zf-card
  display inline-flex
  padding 18px 0
  flex-direction column
  justify-content center
  align-items center
  justify-self center
  align-self center
  width 105px
  height 95px
  cursor pointer
  overflow hidden
  background-color var(--geist-background)

  .zf-card-desc
    color var(--geist-secondary)
    margin-top 15px
    white-space nowrap
    text-overflow ellipsis
    font-size 12px
    max-width 90%
    overflow hidden

.zf-grid
  display grid
  width 900px
  height 100%
  font-size 1rem
  grid-auto-rows minmax(120px, auto)
  grid-template-columns repeat(auto-fill, minmax(120px, 1fr))

.zf-title
  margin 10px 0
